__pycache__/
.ipynb_checkpoints/
.virtual_documents/

input/
artifacts/wandb/
notebooks/wandb/
notebooks/fe/AutogluonModels/

docker-compose.yml

*.zip
*.pyc
*.log
*.db
*.ogg
*.env
*.parquet
*.npy
*.csv
*.tsv