__pycache__/
.ipynb_checkpoints/
input/
artifacts/wandb/
docker-compose.yml
.virtual_documents/
notebooks/wandb/
notebooks/fe/AutogluonModels/

*.zip
*.pyc
*.log
*.db
*.ogg
*.env
*.parquet
*.npy
*.csv
*.tsv